#Ignorar tipos de ficheiros
*.class
*.class
*.class
*.wt
*.xml

# Bad text editor
.vscode/

# Ignorar Pastas Problematicas
CloudToMongo/target/
CloudToMongo/.idea/
CloudToMongo/lib/

Sensors Emulator/.idea/
Sensors Emulator/.venv/

MongoToSQL/.idea/
MongoToSQL/lib/
MongoToSQL/target/

MainLauncher/.idea/
MainLauncher/lib/
MainLauncher/target/

MongoToMqtt/.idea/
MongoToMqtt/lib/
MongoToMqtt/target/

#Ignorar coisas do Mongo

replicasPISID/server1/
replicasPISID/server2/
replicasPISID/server3/

