
*.class
*.class
*.class

# Ignorar Coisas no CloudToMongo
CloudToMongo/target/
CloudToMongo/.idea/
CloudToMongo/lib/

# Ignorar Coisas no Sensors Emulator
Sensors Emulator/.idea/
Sensors Emulator/.venv/

# Ignorar Coisas no MongoToSQL
MongoToSQL/.idea/
MongoToSQL/lib/